@{
    ViewBag.Title = "I'd Tap That";
}
<h2>@ViewBag.Title.</h2>


<p>I'd Tap That is a beer drinker's database designed to store information on your favorite beers and breweries. You can rate and review different beers from all over so you always know which beer to grab!</p>
