@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Carmel, Indiana 46032<br />
    <abbr title="Phone">P:</abbr>
    260.271.9408
</address>

<address>
    <strong>Contact:</strong>   <a href="mailto:samantha.dutiel@gmail.com">Samantha.Dutiel@gmail.com</a><br />
</address>