@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>I'd Tap That</h1>
    <p class="lead">I'd Tap That is a beer drinker's database designed to store information on your favorite beers and breweries. You can rate and review different beers from all over so you always know which beer to grab!</p>
    <p><a href="https://localhost:44369/Beer/Index" class="btn btn-primary btn-lg">Cheers! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Beers</h2>
        <p>
            Check out all of your favorite beers near and far! 
        </p>
        <p><a class="btn btn-default" href="https://localhost:44369/Beer/Index">Sante! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Breweries</h2>
        <p>See whos got the best brews</p>
        <p><a class="btn btn-default" href="https://localhost:44369/Brewery/Index">Salud! &raquo;</a></p>
    </div>
</div>